@import "scss/bootstrap.scss";

body, html {
    width: 100%;
    overflow-x: hidden;
}
/*GENERALES*/
$mapa: (
    colorfondo: #030f22,
);
.envio-gratis {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 0 0 0 10px;
        font-weight: lighter;
    }
}
.transferencia {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    h2 {
        margin: 0 0 0 10px;
        font-weight: lighter;
    }
}
@mixin tam-logo ($ancho, $altura) {
    max-width: $ancho;
    max-height: $altura;
}
/* -- INDEX -- */
.carousel-inner {
        img {
            width: 100%;
            height: 40%;
        }
}
.card-empresa-lider {
    margin: 80px 10px 30px 10px;
    img {
        opacity: 0.7;
    }
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        opacity: 0.8;
    }
}
.servicios {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 80px 30px 30px 30px;
    .texto-servicios {
        font-weight: lighter;
        color: black;
    }
    svg {
        @extend .texto-servicios
    }
    .ver-mas {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        a {
            @extend .texto-servicios;
            text-decoration: none;
            margin: 0 10px 0 0;
            a:hover {
                opacity: 0.5;
            }
        }
    }
}
.servicios-card {
    height: 25%;
    .card-servicio {
        height: 100%;
        opacity: 0.7;
        .card-img {
            width: 100%;
            height: 100%;
        }
    }
}
.galeria-fotos {
    height: 100%;
    opacity: 0.7;
}
/* -- QUIENES SOMOS -- */
.nosotros-col{
    width: 90%;
    .nosotros-fila {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 70px;
        margin-bottom: 100px;
        width: 100%;
        h6 {
            font-size: larger;
            margin-bottom: 30px;
        }
        p {
            font-size: larger;
            font-weight: lighter;
        }
    }
    h6 {
        font-size: larger;
    }
}
.logos-quienes-somos {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 150px;
    .quienes-somos {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    img {
        @include tam-logo(300px, 300px)
    }
}
/* -- CONTACTO -- */
.red-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-image: url(https://www.es.logicalis.com/globalassets/group/solutions-and-services/hero-images/adobestock_100000042.jpg);
    h3 {
        width: 90%;
        color: white;
    }
    p {
        width: 90%;
        color: white;
    }
}
.container-contacto {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 100px;
    .texto-contacto {
        h6 {
            font-size: larger;
            margin-bottom: 30px;
            margin-top: 30px;
        }
        p {
            font-size: larger;
            font-weight: lighter;
        }
    }
    .contacto {
        margin-top: 10px;
        margin-bottom: 50px;
    }
}
/* -- GALERIA DE FOTOS -- */






/* -- TABLETS -- */
@media (min-width: 769px) {
    /* -- INDEX -- */
    .carousel-inner {
        img {
            width: 100%;
            height: 80vh;
        }
    }
    .card-empresa-lider {
        margin: 80px 50px 30px 50px;
        img {
            opacity: 0.7;
        }
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            opacity: 0.8;
        }
    }
    /* -- CONTACTO -- */
    .red-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        h3 {
            margin-left: 25px;
        }
        p {
            width: 50%;
            color: white;
            margin-left: 25px;
        }
    }
}
/* -- DESKTOP -- */
@media (min-width: 993px) {
    /* -- INDEX -- */
    .carousel-inner {
        img {
            width: 100%;
            height: 100vh;
        }
    }
    .card-empresa-lider {
        margin: 100px 130px 50px 130px;
    }
    .servicios-cont {
        width: 100%;
        height: 649px;
        .filas {
            width: 100%;
            height: 100%;
            margin-bottom: 100px;
            .servicios-card {
                width: 50%;
                height: 45%;
            }
        }
    }
    .primer-galeria-fotos {
        width: 70%;
        .galeria-fotos {
            width: 75%;
            h3 {
                margin-top: 50px;
                margin-bottom: 80px;
            }
        }
    }
    /* -- CONTACTO -- */
    .container-contacto {
        width: 90%;
        margin-top: 50px;
        margin-bottom: 100px;
        .fila-contacto {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;
            .texto-contacto {
                h6 {
                    font-size: larger;
                }
                p {
                    font-size: larger;
                    font-weight: lighter;
                    margin-top: 40px;
                }
            }
            .contacto {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }
}